@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: normal;
  letter-spacing: normal;
}

@import "tailwindcss";

@theme {
  --animate-loading: loading 1.2s ease-in-out infinite;
  --animate-fade-slide-in-left: fade-slide-in-left 1s ease-out forwards;
  --animate-fade-slide-in-right: fade-slide-in-right 1s ease-out forwards;
  --animate-fade-slide-in-bottom: fade-slide-in-bottom 1s ease-out forwards;
  --animate-flash: flash 1s ease-in-out infinite alternate;

  @keyframes loading {
    0% {
      color: #e9e9e9
    }

    50% {
      color: #b89b84
    }

    100% {
      color: #e9e9e9
    }
  }

  @keyframes fade-slide-in-left {
    0% {
      opacity: 0;
      transform: translateX(-1rem)
    }

    100% {
      opacity: 1;
      transform: translateX(0)
    }
  }

  @keyframes fade-slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(1rem)
    }

    100% {
      opacity: 1;
      transform: translateX(0)
    }
  }

  @keyframes fade-slide-in-bottom {
    0% {
      opacity: 0;
      transform: translateY(1rem)
    }

    100% {
      opacity: 1;
      transform: translateY(0)
    }
  }

  @keyframes flash {

    0%,
    100% {
      opacity: 0
    }

    50% {
      opacity: 1
    }
  }
}

/* body {
  margin: 0;
  background: radial-gradient(#282c34, #282c34);
} */